In [91]:
import pandas as pd
from nltk.corpus import stopwords

pd.set_option('max_colwidth', 300)

In [92]:
data = pd.read_csv("train.csv", encoding='latin-1')
data = data.drop(columns=['ItemID','Sentiment'])

In [93]:
data

                                                                                                                                    SentimentText
0                                                                                                        is so sad for my APL friend.............
1                                                                                                                I missed the New Moon trailer...
2                                                                                                                         omg its already 7:30 :O
3                      .. Omgaga. Im sooo  im gunna CRy. I've been at this dentist since 11.. I was suposed 2 just get a crown put on (30mins)...
4                                                                                                    i think mi bf is cheating on me!!!       T_T
...                                                                                                                                           ...
99984                                                              @Cupcake  seems like a repeating problem   hope you're able to find something.
99985  @cupcake__ arrrr we both replied to each other over different tweets at the same time  , i'll see you then, Duno where the hell Kateyy is!
99986                                                                                                              @CuPcAkE_2120 ya i thought so
99987                                                                               @Cupcake_Dollie Yes. Yes. I'm glad you had more fun with me.
99988                                                                                                             @cupcake_kayla haha yes you do

[99989 rows x 1 columns]

In [94]:
import re
import string

def clean_text_round1(text):
    text = text.lower().strip()
    text = re.sub(r'@\w+\s', ' ', text) #Remover nomes de usuários
    text = re.sub(r'https?://.+\S', ' ', text) #Remover links
    text = re.sub('&[\w*%s*]' % re.escape(string.punctuation), ' ', text) #Apagar '&' e caracteres posteriores 
    text = re.sub('\s{2,}', '', text) #Remover excesso de espaços    
    return text

round1 = lambda x: clean_text_round1(x)

In [95]:
pd
clean = pd.DataFrame.from_dict(data.SentimentText.apply(round1))

In [96]:
clean

                                                                                                                        SentimentText
0                                                                                            is so sad for my apl friend.............
1                                                                                                    i missed the new moon trailer...
2                                                                                                             omg its already 7:30 :o
3            .. omgaga. im soooim gunna cry. i've been at this dentist since 11.. i was suposed 2 just get a crown put on (30mins)...
4                                                                                               i think mi bf is cheating on me!!!t_t
...                                                                                                                               ...
99984                                                               seems like a repeating problemhope you're able to find something.
99985   arrrr we both replied to each other over different tweets at the same time, i'll see you then, duno where the hell kateyy is!
99986                                                                                                                 ya i thought so
99987                                                                                    yes. yes. i'm glad you had more fun with me.
99988                                                                                                                 haha yes you do

[99989 rows x 1 columns]