# 2- Preparação dos dados

### Importação do dataset

In [1]:
import pandas as pd
pd.set_option('max_colwidth', 300)

In [20]:
data = pd.read_csv('./arquivos/data.csv', encoding='ISO-8859-1')

In [48]:
data.head(10)

,tweet_text,confidence,labels,length
0,Warning: penny boards will make you a faggot,0.6013,O,44
1,Fuck dykes,0.7227,H,10
2,@sizzurp__ @ILIKECATS74 @yoPapi_chulo @brandonernandez @bootyacid at least i dont look like jefree starr faggot,0.5229,H,111
3,"""@jayswaggkillah: ""@JacklynAnnn: @jayswaggkillah Is a fag"" jackie jealous"" Neeeee",0.5184,H,81
4,@Zhugstubble You heard me bitch but any way I'm back th texas so wtf u talking about bitch ass nigga,0.5185,O,100
5,"@elaynay your a dirty terrorist and your religion is a fucking joke, you go around screaming Allah akbar doing terrorist shit. Dirty faggot.",0.8816,H,140
6,RT @ivanrabago_: @_WhitePonyJr_ looking like faggots?,0.5207,H,53
7,Well I thought you knew actually RT @KingHorseDick: Man why y'all didn't tell me I was a dick riding ass faggot? Y'all not real &#128557;&#128557;&#128557;&#128557;&#128557;&#128557;,0.5619,H,182
8,"@Stonisnipezz I know. It was a joke, faggot.",0.6419,O,44
9,I'm tired of people saying I look like my brother &amp; calling me Deondre' like serious Succ My Ass fag asses,0.6407,O,110

### Limpeza do texto

In [4]:
import re
import string

In [133]:
def clean_text_round1(text):
    text = text.lower()
    text = re.sub(r'@(\w+)(:?)', '@mention', text) #Substituir menções de usuários
    text = re.sub(r'https?://(.+)\s', ' ', text) #Remover links
    text = re.sub('&(.*);', ' ', text) #Apagar elementos de html
    text = re.sub(r'[\.?!:;"]', " ", text)
    text = re.sub(r'#', ' ', text) #Remove hashtags
    text = re.sub('\s{2,}', ' ', text) #Remover excesso de espaços
    text = re.sub(r'\s', ' ', text) #Remover whitespaces    
    return text

round1 = lambda x: clean_text_round1(x)

In [134]:
clean = data.drop(columns='tweet_text')
clean['tweet_text'] = pd.DataFrame.from_dict(data.tweet_text.apply(round1))
clean['length'] = [len(text) for text in clean.tweet_text]

In [135]:
clean

,confidence,labels,length,tweet_text
0,0.6013,O,43,warning penny boards will make you a faggot
1,0.7227,H,10,fuck dykes
2,0.5229,H,90,@mention @mention @mention @mention @mention at least i dont look like jefree starr faggot
3,0.5184,H,58,@mention @mention @mention is a fag jackie jealous neeeee
4,0.5185,O,96,@mention you heard me bitch but any way i'm back th texas so wtf u talking about bitch ass nigga
...,...,...,...,...
14504,0.3418,N,132,"i'm sorry did i offend your white supremacist, aryan nation, neo-nazi, best fascist friends somehow @mention https //t co/zi3tzr5vwo"
14505,0.6804,N,89,@mention caucasian euro aryan whatever really doesn't matter they're damn sure not white
14506,1.0000,N,131,@mention sir a patient named aryan khan village meeranpur pratapgarh who is suffering from like dengu has refferd to sgpgi lko help
14507,1.0000,N,92,@mention happy birthday bro _ì«ìð_ have an happy year ahead _ì«_å _ì«___ì«_ê_ì«_û__ì«_û_
14508,1.0000,N,70,@mention aryan kapoor is such a cute name tho d we want k s first look

In [136]:
clean.describe()

         confidence        length
count  14509.000000  14509.000000
mean       0.865844     82.524640
std        0.178734     37.178159
min        0.333300      1.000000
25%        0.668400     51.000000
50%        1.000000     81.000000
75%        1.000000    116.000000
max        1.000000    469.000000

In [137]:
clean.loc[clean['length'] < 6].describe()

       confidence    length
count    7.000000  7.000000
mean     0.951643  3.857143
std      0.127941  1.345185
min      0.661500  1.000000
25%      1.000000  4.000000
50%      1.000000  4.000000
75%      1.000000  4.500000
max      1.000000  5.000000

In [138]:
data.loc[clean['length'] < 6]

,tweet_text,confidence,labels,length
39,&#8220;@fhairhead: Only in Vermont is it big news that our govern got a buck #vermontproblems&#8221;,1.0000,N,100
3576,"https://t.co/EDggX0Mxko Amid Economic Recovery, School Districts Desperate For Bus Drivers: When... https://t.co/vck1yT9j0k #breaking #news",1.0000,N,139
9217,https://t.co/N5yyvwUUif: Sara Jay got a big white ass https://t.co/45TZ4k71q2 #interracial #sara,1.0000,O,96
10074,https://t.co/EEwwgTOF2B if you would wear this you a faggot and your son will be gay like you,0.6615,O,93
12096,https://t.co/9s5MDMKVxP WONT YOU STAY WITH ME ONE MORE DAY,1.0000,N,58
14081,Real,1.0000,N,4
14323,Real,1.0000,N,4

In [139]:
clean.loc[clean['length'] < 6]

       confidence labels  length tweet_text
39         1.0000      N       1
3576       1.0000      N       5       news
9217       1.0000      O       5       sara
10074      0.6615      O       4        you
12096      1.0000      N       4        day
14081      1.0000      N       4       real
14323      1.0000      N       4       real