# Normalização do texto

## 1- Importação do dataset

In [27]:
import pandas as pd
pd.set_option('max_colwidth', 300)

In [37]:
data = pd.read_csv('./arquivos/clean_with_tags.csv', encoding='ISO-8859-1')

In [38]:
data.head(15)

,confidence,labels,length,tweet_text
0,0.6013,O,43,warning penny boards will make you a faggot
1,0.7227,H,10,fuck dykes
2,0.5229,H,95,XmentionX XmentionX XmentionX XmentionX XmentionX at least i dont look like jefree starr faggot
3,0.5184,H,58,XmentionX XmentionX XmentionX is a fag jackie jealous nee
4,0.5185,O,96,XmentionX you heard me bitch but any way im back th texas so wtf u talking about bitch ass nigga
5,0.8816,H,139,XmentionX your a dirty terrorist and your religion is a fucking joke you go around screaming allah akbar doing terrorist shit dirty faggot
6,0.5207,H,44,rt XmentionX XmentionX looking like faggots
7,0.5619,H,118,well i thought you knew actually rt XmentionX man why yall didnt tell me i was a dick riding ass faggot yall not real
8,0.6419,O,38,XmentionX i know it was a joke faggot
9,0.6407,O,102,im tired of people saying i look like my brother calling me deondre like serious succ my ass fag asses
10,0.7619,H,125,voteblue2014 yeah cuz 8 million people in faggot ass newyork are chickenshit jews fuck them right fuck bibi netanyahu right
11,0.5606,H,62,XmentionX word is you use roids stupid hypocrite lying faggot
12,0.8435,H,23,i hate faggots like you
13,0.8414,H,95,XmentionX shut up nigger whore hope u get raped by one of those animals might change your tune
14,0.8826,H,107,XmentionX XmentionX fuck you nigger sheboon hope you r strung up like all niggers should be whitepower 1488

## 2- Tokenização

In [39]:
import nltk

In [40]:
corpus = " ".join(tweet for tweet in data.tweet_text)

In [41]:
words = nltk.word_tokenize(corpus)

In [42]:
print(words[:100])

['warning', 'penny', 'boards', 'will', 'make', 'you', 'a', 'faggot', 'fuck', 'dykes', 'XmentionX', 'XmentionX', 'XmentionX', 'XmentionX', 'XmentionX', 'at', 'least', 'i', 'dont', 'look', 'like', 'jefree', 'starr', 'faggot', 'XmentionX', 'XmentionX', 'XmentionX', 'is', 'a', 'fag', 'jackie', 'jealous', 'nee', 'XmentionX', 'you', 'heard', 'me', 'bitch', 'but', 'any', 'way', 'im', 'back', 'th', 'texas', 'so', 'wtf', 'u', 'talking', 'about', 'bitch', 'ass', 'nigga', 'XmentionX', 'your', 'a', 'dirty', 'terrorist', 'and', 'your', 'religion', 'is', 'a', 'fucking', 'joke', 'you', 'go', 'around', 'screaming', 'allah', 'akbar', 'doing', 'terrorist', 'shit', 'dirty', 'faggot', 'rt', 'XmentionX', 'XmentionX', 'looking', 'like', 'faggots', 'well', 'i', 'thought', 'you', 'knew', 'actually', 'rt', 'XmentionX', 'man', 'why', 'yall', 'didnt', 'tell', 'me', 'i', 'was', 'a', 'dick']

In [43]:
data_tk = pd.DataFrame.from_dict(data.tweet_text.apply(nltk.word_tokenize))
data_tk['words_count'] = pd.DataFrame.from_dict(data_tk.tweet_text.apply(len))
data_tk['label'] = data.labels

Contagem de palavras

In [44]:
data_tk

,tweet_text,words_count,label
0,"[warning, penny, boards, will, make, you, a, faggot]",8,O
1,"[fuck, dykes]",2,H
2,"[XmentionX, XmentionX, XmentionX, XmentionX, XmentionX, at, least, i, dont, look, like, jefree, starr, faggot]",14,H
3,"[XmentionX, XmentionX, XmentionX, is, a, fag, jackie, jealous, nee]",9,H
4,"[XmentionX, you, heard, me, bitch, but, any, way, im, back, th, texas, so, wtf, u, talking, about, bitch, ass, nigga]",20,O
...,...,...,...
14504,"[im, sorry, did, i, offend, your, white, supremacist, aryan, nation, neo, nazi, best, fascist, friends, somehow, XmentionX, XlinkX]",18,N
14505,"[XmentionX, caucasian, euro, aryan, whatever, really, doesnt, matter, theyre, damn, sure, not, white]",13,N
14506,"[XmentionX, sir, a, patient, named, aryan, khan, village, meeranpur, pratapgarh, who, is, suffering, from, like, dengu, has, refferd, to, sgpgi, lko, help]",22,N
14507,"[XmentionX, happy, birthday, bro, have, an, happy, year, ahead]",9,N
14508,"[XmentionX, aryan, kapoor, is, such, a, cute, name, tho, d, we, want, k, s, first, look]",16,N

In [45]:
data_tk.to_pickle("./arquivos/pickle/data_tk.plk")

In [46]:
data_tk.describe()

        words_count
count  14509.000000
mean      14.528500
std        6.711704
min        1.000000
25%        9.000000
50%       14.000000
75%       20.000000
max       34.000000

Palavras mais usadas

In [47]:
total_words = nltk.FreqDist(words)

In [48]:
total_words

FreqDist({'XmentionX': 8517, 'a': 5868, 'the': 5048, 'you': 4761, 'i': 4376, 'to': 4231, 'XlinkX': 3892, 'and': 3355, 'is': 2527, 'of': 2440, ...})

In [49]:
total = pd.DataFrame.from_dict(total_words, orient='index', columns=['count'])

In [50]:
total.describe()

              count
count  17175.000000
mean      12.273304
std      131.501675
min        1.000000
25%        1.000000
50%        1.000000
75%        3.000000
max     8517.000000

In [51]:
total.sort_values(by="count", ascending=False).head(10)

           count
XmentionX   8517
a           5868
the         5048
you         4761
i           4376
to          4231
XlinkX      3892
and         3355
is          2527
of          2440

## 3 - Stemming

Porter Stemmer. (Geralmente mais rápido)

In [52]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

In [53]:
porter_stem = [stemmer.stem(w) for w in words]

In [54]:
print(list(filter(lambda x : len(x) > 2, porter_stem))[:25])

['warn', 'penni', 'board', 'will', 'make', 'you', 'faggot', 'fuck', 'dyke', 'xmentionx', 'xmentionx', 'xmentionx', 'xmentionx', 'xmentionx', 'least', 'dont', 'look', 'like', 'jefre', 'starr', 'faggot', 'xmentionx', 'xmentionx', 'xmentionx', 'fag']

Snowball Stemmer. (Geralmente mais adequado para o inglês)

In [55]:
from nltk.stem import SnowballStemmer, WordNetLemmatizer
stemmer = SnowballStemmer("english", ignore_stopwords=True)

In [58]:
snowball_stem = [stemmer.stem(word) for word in words]

In [59]:
print(list(filter(lambda x : len(x) > 2, snowball_stem))[:25])

['warn', 'penni', 'board', 'will', 'make', 'you', 'faggot', 'fuck', 'dyke', 'xmentionx', 'xmentionx', 'xmentionx', 'xmentionx', 'xmentionx', 'least', 'dont', 'look', 'like', 'jefre', 'starr', 'faggot', 'xmentionx', 'xmentionx', 'xmentionx', 'fag']

## 4 - Lemmatization

In [60]:
from nltk.stem import WordNetLemmatizer

def lemmatize_tokenize(text):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in nltk.word_tokenize(text)]

In [61]:
word_lemm = lemmatize_tokenize(corpus)

In [62]:
print(list(filter(lambda x : len(x) > 2, word_lemm))[:25])

['warning', 'penny', 'board', 'will', 'make', 'you', 'faggot', 'fuck', 'dyke', 'XmentionX', 'XmentionX', 'XmentionX', 'XmentionX', 'XmentionX', 'least', 'dont', 'look', 'like', 'jefree', 'starr', 'faggot', 'XmentionX', 'XmentionX', 'XmentionX', 'fag']

# 5 - Remover StopWords

In [63]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words_final = [word for word in word_lemm if word not in stop_words]

In [64]:
print(list(filter(lambda x : len(x) > 2, words_final))[:25])

['warning', 'penny', 'board', 'make', 'faggot', 'fuck', 'dyke', 'XmentionX', 'XmentionX', 'XmentionX', 'XmentionX', 'XmentionX', 'least', 'dont', 'look', 'like', 'jefree', 'starr', 'faggot', 'XmentionX', 'XmentionX', 'XmentionX', 'fag', 'jackie', 'jealous']

In [65]:
len(set(words_final))

15437

In [66]:
words_final = nltk.FreqDist(words_final)

## 6 - Bag of Words

In [67]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()

In [68]:
bag_of_words = count_vectorizer.fit_transform(data.tweet_text)

In [69]:
feature_names = count_vectorizer.get_feature_names()
bow = pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

In [70]:
bow

,00,000,0092,00mm,01622,023,03,04,041,042,...,zombies,zombified,zone,zoning,zoo,zuckerbergs,zuckerburg,zulfiqar,zuma,zuni
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14504,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14505,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14507,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14508,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [71]:
data.loc[bow.fag >= 1] #Localizar tweets com a palavra fag

,confidence,labels,length,tweet_text
3,0.5184,H,58,XmentionX XmentionX XmentionX is a fag jackie jealous nee
9,0.6407,O,102,im tired of people saying i look like my brother calling me deondre like serious succ my ass fag asses
16,0.6833,H,110,good night fags and fagettes thats the female version of fags like fag ettes to make it female i hate you all
947,1.0000,H,109,XmentionX you piece of shit i stepped on dog puke last night cause your faggot ass was feeding that fag fries
4145,1.0000,O,92,XmentionX XmentionX XmentionX XmentionX going for a fag and ignoring her isnt the same thing
...,...,...,...,...
14438,1.0000,O,46,i wanna go on a walk with a fag and get lost p
14439,0.6821,O,85,XmentionX XmentionX i still owe you a drink for you birthday fag lets go grab a drink
14440,0.6599,O,24,XmentionX good video fag
14441,0.6718,N,56,just gave my mum a menthol fag and she cant hack it lool
14442,0.6700,O,17,XmentionX you fag

## 7 - TF-IDF: Term frequency-inverse document frequency

In [72]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(tokenizer=lemmatize_tokenize)

In [73]:
values = tfidf_vectorizer.fit_transform(data.tweet_text)

In [74]:
feature_names = tfidf_vectorizer.get_feature_names()
tfidf = pd.DataFrame(values.toarray(), columns = feature_names)

In [75]:
#tfidf.loc[tfidf.fag >= 0.7]
#bow.fag.loc[bow.fag >= 0.7]

In [76]:
test = pd.DataFrame.from_dict(
    list(zip(data.labels,data.tweet_text, tfidf.fag)))

In [77]:
test.columns = ['label', 'tweet', 'fag']

In [78]:
test.loc[test.fag >= 0.7]

      label                                 tweet       fag
1004      H                          fags XlinkX   0.861658
1019      N                          fags XlinkX   0.861658
1027      O              XmentionX XmentionX fags  0.731454
4703      H               XmentionX fags are fags  0.902646
4719      O  XmentionX fags are fags not faggots   0.787535
9441      O                     XmentionX you fag  0.800366
9453      O                     XmentionX you fag  0.800366
9460      O                     XmentionX you fag  0.800366
9472      H                    XmentionX you fag   0.800366
11349     O                    XmentionX is a fag  0.716845
11350     O                   XmentionX is a fag   0.716845
13111     O                   XmentionX you a fag  0.742823
13112     O                     you a fag XlinkX   0.717604
13114     H                  XmentionX you a fag   0.742823
13126     O                             you a fag  0.791800
13127     O                  XmentionX you a fag   0.742823
14442     O                     XmentionX you fag  0.800366

In [ ]:
data.loc[tfidf.lame >= 0.5].head(10)

In [ ]:
#Usar lemmatizer tokenize como parametro da TfidfVectorizer()