# Normalização do texto

## 1- Importação do dataset

In [1]:
import pandas as pd
pd.set_option('max_colwidth', 300)

In [2]:
data = pd.read_csv('./arquivos/clean.csv', encoding='ISO-8859-1')

In [3]:
data.head(15)

,confidence,labels,length,tweet_text
0,0.6013,O,43,warning penny boards will make you a faggot
1,0.7227,H,10,fuck dykes
2,0.5229,H,46,at least i dont look like jefree starr faggot
3,0.5184,H,28,is a fag jackie jealous nee
4,0.5185,O,88,you heard me bitch but any way i'm back th texas so wtf u talking about bitch ass nigga
5,0.8816,H,130,your a dirty terrorist and your religion is a fucking joke you go around screaming allah akbar doing terrorist shit dirty faggot
6,0.5207,H,24,rt looking like faggots
7,0.5619,H,111,well i thought you knew actually rt man why y'all didn't tell me i was a dick riding ass faggot y'all not real
8,0.6419,O,29,i know it was a joke faggot
9,0.6407,O,104,i'm tired of people saying i look like my brother calling me deondre' like serious succ my ass fag asses
10,0.7619,H,125,voteblue2014 yeah cuz 8 million people in faggot ass newyork are chickenshit jews fuck them right fuck bibi netanyahu right
11,0.5606,H,53,word is you use roids stupid hypocrite lying faggot
12,0.8435,H,23,i hate faggots like you
13,0.8414,H,86,shut up nigger whore hope u get raped by one of those animals might change your tune
14,0.8826,H,88,fuck you nigger sheboon hope you r strung up like all niggers should be whitepower 1488

## 2- Tokenização

In [4]:
import nltk

In [5]:
corpus = " ".join(tweet for tweet in data.tweet_text)

In [6]:
words = nltk.word_tokenize(corpus)

In [7]:
print(words[:100])

['warning', 'penny', 'boards', 'will', 'make', 'you', 'a', 'faggot', 'fuck', 'dykes', 'at', 'least', 'i', 'dont', 'look', 'like', 'jefree', 'starr', 'faggot', 'is', 'a', 'fag', 'jackie', 'jealous', 'nee', 'you', 'heard', 'me', 'bitch', 'but', 'any', 'way', 'i', "'m", 'back', 'th', 'texas', 'so', 'wtf', 'u', 'talking', 'about', 'bitch', 'ass', 'nigga', 'your', 'a', 'dirty', 'terrorist', 'and', 'your', 'religion', 'is', 'a', 'fucking', 'joke', 'you', 'go', 'around', 'screaming', 'allah', 'akbar', 'doing', 'terrorist', 'shit', 'dirty', 'faggot', 'rt', 'looking', 'like', 'faggots', 'well', 'i', 'thought', 'you', 'knew', 'actually', 'rt', 'man', 'why', "y'all", 'did', "n't", 'tell', 'me', 'i', 'was', 'a', 'dick', 'riding', 'ass', 'faggot', "y'all", 'not', 'real', 'i', 'know', 'it', 'was', 'a']

In [8]:
data_tk = pd.DataFrame.from_dict(data.tweet_text.apply(nltk.word_tokenize))
data_tk['words_count'] = pd.DataFrame.from_dict(data_tk.tweet_text.apply(len))
data_tk['label'] = data.labels

Contagem de palavras

In [9]:
data_tk

,tweet_text,words_count,label
0,"[warning, penny, boards, will, make, you, a, faggot]",8,O
1,"[fuck, dykes]",2,H
2,"[at, least, i, dont, look, like, jefree, starr, faggot]",9,H
3,"[is, a, fag, jackie, jealous, nee]",6,H
4,"[you, heard, me, bitch, but, any, way, i, 'm, back, th, texas, so, wtf, u, talking, about, bitch, ass, nigga]",20,O
...,...,...,...
14504,"[i, 'm, sorry, did, i, offend, your, white, supremacist, aryan, nation, neo, nazi, best, fascist, friends, somehow]",17,N
14505,"[caucasian, euro, aryan, whatever, really, does, n't, matter, they, 're, damn, sure, not, white]",14,N
14506,"[sir, a, patient, named, aryan, khan, village, meeranpur, pratapgarh, who, is, suffering, from, like, dengu, has, refferd, to, sgpgi, lko, help]",21,N
14507,"[happy, birthday, bro, ì, «, ìð, have, an, happy, year, ahead, ì, «, å, ì, «, ì, «, ê, ì, «, û, ì, «, û]",25,N
14508,"[aryan, kapoor, is, such, a, cute, name, tho, d, we, want, k, s, first, look]",15,N

In [10]:
data_tk.to_pickle("./arquivos/pickle/data_tk.plk")

In [11]:
data_tk.describe()

        words_count
count  14509.000000
mean      14.871804
std        7.539993
min        1.000000
25%        9.000000
50%       14.000000
75%       20.000000
max      120.000000

Palavras mais usadas

In [12]:
total_words = nltk.FreqDist(words)

In [13]:
total_words

FreqDist({'a': 5864, 'i': 5327, 'you': 5216, 'the': 5031, 'to': 4230, 'ì': 3543, 'and': 3352, 'is': 2575, '«': 2542, 'of': 2440, ...})

In [14]:
total = pd.DataFrame.from_dict(total_words, orient='index', columns=['count'])

In [15]:
total.describe()

              count
count  17900.000000
mean      12.054469
std      118.881497
min        1.000000
25%        1.000000
50%        1.000000
75%        3.000000
max     5864.000000

In [16]:
total.sort_values(by="count", ascending=False).head(10)

     count
a     5864
i     5327
you   5216
the   5031
to    4230
ì     3543
and   3352
is    2575
«     2542
of    2440

## 3 - Stemming

Porter Stemmer. (Geralmente mais rápido)

In [17]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

In [18]:
porter_stem = [stemmer.stem(w) for w in words]

In [19]:
print(list(filter(lambda x : len(x) > 2, porter_stem))[:25])

['warn', 'penni', 'board', 'will', 'make', 'you', 'faggot', 'fuck', 'dyke', 'least', 'dont', 'look', 'like', 'jefre', 'starr', 'faggot', 'fag', 'jacki', 'jealou', 'nee', 'you', 'heard', 'bitch', 'but', 'ani']

Snowball Stemmer. (Geralmente mais adequado para o inglês)

In [25]:
from nltk.stem import SnowballStemmer, WordNetLemmatizer
stemmer = SnowballStemmer("english", ignore_stopwords=True)

In [26]:
snowball_stem = stemmer.stem('hi')

In [ ]:
print(list(filter(lambda x : len(x) > 2, snowball_stem))[:25])

## 4 - Lemmatization

In [22]:
from nltk.stem import WordNetLemmatizer

def lemmatize_tokenize(text):
    lemmatizer = WordNetLemmatizer()
    return [lemmatizer.lemmatize(token) for token in nltk.word_tokenize(text)]

In [23]:
word_lemm = lemmatize_tokenize(corpus)

In [24]:
print(list(filter(lambda x : len(x) > 2, word_lemm))[:25])

['warning', 'penny', 'board', 'will', 'make', 'you', 'faggot', 'fuck', 'dyke', 'least', 'dont', 'look', 'like', 'jefree', 'starr', 'faggot', 'fag', 'jackie', 'jealous', 'nee', 'you', 'heard', 'bitch', 'but', 'any']

# 5 - Remover StopWords

In [25]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))
words_final = [word for word in word_lemm if word not in stop_words]

In [26]:
print(list(filter(lambda x : len(x) > 2, words_final))[:25])

['warning', 'penny', 'board', 'make', 'faggot', 'fuck', 'dyke', 'least', 'dont', 'look', 'like', 'jefree', 'starr', 'faggot', 'fag', 'jackie', 'jealous', 'nee', 'heard', 'bitch', 'way', 'back', 'texas', 'wtf', 'talking']

In [27]:
len(set(words_final))

16245

In [28]:
words_final = nltk.FreqDist(words_final)

## 6 - Bag of Words

In [29]:
from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer()

In [30]:
bag_of_words = count_vectorizer.fit_transform(data.tweet_text)

In [31]:
feature_names = count_vectorizer.get_feature_names()
bow = pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

In [32]:
bow

,00,000,0092,00mm,01622,023,03,04,041,042,...,ûóìöall,ûóìöd,ûóìöll,ûóìöm,ûóìöre,ûóìös,ûóìöt,ûóìöve,üå,üì
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14504,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14505,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14506,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14507,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14508,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
data.loc[bow.fag >= 1] #Localizar tweets com a palavra fag

,confidence,labels,length,tweet_text
3,0.5184,H,28,is a fag jackie jealous nee
9,0.6407,O,104,i'm tired of people saying i look like my brother calling me deondre' like serious succ my ass fag asses
16,0.6833,H,111,good night fags and fagettes that's the female version of fags like fag ettes to make it female i hate you all
947,1.0000,H,100,you piece of shit i stepped on dog puke last night cause your faggot ass was feeding that fag fries
4145,1.0000,O,53,going for a fag and ignoring her isnt the same thing
...,...,...,...,...
14438,1.0000,O,46,i wanna go on a walk with a fag and get lost p
14439,0.6821,O,67,i still owe you a drink for you birthday fag let's go grab a drink
14440,0.6599,O,15,good video fag
14441,0.6718,N,57,just gave my mum a menthol fag and she can't hack it lool
14442,0.6700,O,8,you fag

## 7 - TF-IDF: Term frequency-inverse document frequency

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(tokenizer=lemmatize_tokenize)

In [35]:
values = tfidf_vectorizer.fit_transform(data.tweet_text)

In [36]:
feature_names = tfidf_vectorizer.get_feature_names()
tfidf = pd.DataFrame(values.toarray(), columns = feature_names)

In [ ]:
#tfidf.loc[tfidf.fag >= 0.7]
#bow.fag.loc[bow.fag >= 0.7]

In [37]:
test = pd.DataFrame.from_dict(
    list(zip(data.labels,data.tweet_text, tfidf.fag)))

In [38]:
test.columns = ['label', 'tweet', 'fag']

In [40]:
test.loc[test.fag >= 0.7]

      label                        tweet       fag
1004      H                        fags   1.000000
1027      O                         fags  1.000000
4703      H                fags are fags  0.924119
4719      O   fags are fags not faggots   0.801640
9441      O                      you fag  0.868145
9453      O                      you fag  0.868145
9460      O                      you fag  0.868145
9472      H                     you fag   0.868145
11349     O                     is a fag  0.761968
11350     O                    is a fag   0.761968
13111     O                    you a fag  0.796046
13112     O                   you a fag   0.796046
13114     H                   you a fag   0.796046
13127     O                   you a fag   0.796046
14442     O                      you fag  0.868145

In [ ]:
data.loc[tfidf.lame >= 0.5].head(10)

In [ ]:
#Usar lemmatizer tokenize como parametro da TfidfVectorizer()